.OurStory {
  position: relative; /* this is needed so stickers position relative to the section */
  background-color: #5a47b1;
  padding: 40px 180px;
}

.sticker1 {
  position: absolute;
  width: 270px;
  bottom: 20px;
  right: -30px;
  transform: rotate(12deg);
}

.sticker2 {
  position: absolute;
  width: 220px;
  bottom: 40px;
  left: -20px;
  transform: rotate(-25deg);
}

.sticker3 {
  position: absolute;
  width: 280px;
  top: 10px;
  left: 20px;
  transform: rotate(-25deg);
}

.sticker4 {
  position: absolute;
  width: 270px;
  top: 10px;
  right: 20px;
  transform: rotate(25deg);
}
.sticker5 {
  position: absolute;
  width: 210px;
  top: 400px;
  left: 40px;
  transform: rotate(-13deg);
}
.sticker6 {
  position: absolute;
  width: 250px;
  top: 400px;
  right: -60px;
  transform: rotate(29deg);
}
.sticker7 {
  position: absolute;
  width: 210px;
  bottom: -300px;
  right: -40px;
  transform: rotate(11deg);
}
.sticker8 {
  position: absolute;
  width: 210px;
  top: 803px;
  right: 40px;
  transform: rotate(3deg);
}

.polaroid {
  display: block;
  text-align: center;
  width: 600px;
  padding: 0%;
  margin: 0 auto;
}
